<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interactive maps for Django web apps</title>


<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <h1> Map time! </h1>
  <div id='map' style='width: 400px; height: 300px;'></div>
  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibWFzaGF0cmV0MjAwNiIsImEiOiJjazNia2c1amYwajNwM2NsZGpheHB1Y29mIn0.QegkEY39EJLAuB1Y_ba47A';
  var map = new mapboxgl.Map({
  container: 'map',
  style:  'mapbox://styles/mapbox/streets-v10',
  center:  [- 77.03,  38.91],
  zoom:  9
  });
  </script>
  <button type="text" name="button">Технари</button>
        <button type="text" name="button">Гуманитарий</button>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Найти</button>
        </form>
</body>
</html>
